<mat-tab-group>
    <mat-tab label="Overview"> 
        <h2>Simple Rental</h2>
        <mat-card class="democard">
            <mat-card-content>
                <div class="content">
                    <bizmat-rental (onSearchClicked) = "search($event)" ></bizmat-rental>
                </div>
                <mat-divider></mat-divider>
                <div class="code">
                    &lt;bizmat-rental (onSearchClicked) = "search($event)"&gt;&lt;/bizmat-rental&gt;
                </div>
            </mat-card-content>
        </mat-card>
        <br/><br/><br/>
        <h2>rental within a card</h2>
        <mat-card class="democard">
            <mat-card-content>
                <div class="content">
                    <bizmat-rental (onSearchClicked) = "search($event)" wrap = "card"></bizmat-rental>
                </div>
                <mat-divider></mat-divider>
                <div class="code">
                    &lt;bizmat-rental (onSearchClicked) = "search($event)" wrap = "card"&gt;&lt;/bizmat-rental&gt;
                </div>
            </mat-card-content>
        </mat-card>
        <br/><br/><br/>
        <h2>rental with a dialog</h2>
        <mat-card class="democard">
            <mat-card-content>
                <div class="content">
                    <bizmat-rental (onSearchClicked) = "search($event)" wrap = "button" label = "rental"></bizmat-rental>
                </div>
                <mat-divider></mat-divider>
                <div class="code">
                    &lt;bizmat-rental (onSearchClicked) = "search($event)" wrap = "button" label = "Search"&gt;&lt;/bizmat-rental&gt;
                </div>
            </mat-card-content>
        </mat-card> 
    </mat-tab>
    <mat-tab label="API"></mat-tab>
    <mat-tab label="Plus"></mat-tab>
</mat-tab-group>
