.container {
    padding: 2em;
}

.logo {
    font-weight: bold;
    font-size: x-large;
}

.menu-heading {
    font-weight: bold;
    font-size: large;
    padding: 0.5em;
    background-color: rgb(68, 101, 101);
}