<mat-tab-group>
    <mat-tab label="Overview"> 
        <h2>Simple Travel</h2>
        <mat-card class="democard">
            <mat-card-content>
                <div class="content">
                    <bizmat-travel (onSearchClicked) = "search($event)" ></bizmat-travel>
                </div>
                <mat-divider></mat-divider>
                <div class="code">
                    &lt;bizmat-travel (onLoginClicked) = "search($event)"&gt;&lt;/bizmat-travel&gt;
                </div>
            </mat-card-content>
        </mat-card>
        <br/><br/><br/>
        <h2>Travel within a card</h2>
        <mat-card class="democard">
            <mat-card-content>
                <div class="content">
                    <bizmat-travel (onSearchClicked) = "search($event)" wrap = "card"></bizmat-travel>
                </div>
                <mat-divider></mat-divider>
                <div class="code">
                    &lt;bizmat-travel (onSearchClicked) = "search($event)" wrap = "card"&gt;&lt;/bizmat-travel&gt;
                </div>
            </mat-card-content>
        </mat-card>
        <br/><br/><br/>
        <h2>Travel with a dialog</h2>
        <mat-card class="democard">
            <mat-card-content>
                <div class="content">
                    <bizmat-travel (onSearchClicked) = "search($event)" wrap = "button" label = "Search"></bizmat-travel>
                </div>
                <mat-divider></mat-divider>
                <div class="code">
                    &lt;bizmat-travel (onSearchClicked) = "search($event)" wrap = "button" label = "Search"&gt;&lt;/bizmat-travel&gt;
                </div>
            </mat-card-content>
        </mat-card> 
    </mat-tab>
    <mat-tab label="API"></mat-tab>
    <mat-tab label="Plus"></mat-tab>
</mat-tab-group>
